<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Project Deployment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mental.css') }}">
</head>
<body>
    <div class="container">
        <h1>Post status Prediction</h1>
        <form id="prediction-form">
            <label for="inputPost">Input Post:</label>
            <input type="text" id="inputData" name="inputData" required>
            <button type="submit">Predict</button>
        </form>
        <div id="result"></div>
    </div>
    
</body>
</html>
